body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}
.label{
	background: #f5bef6;
  background-image: linear-gradient(180deg, #ffbcf6 0%, #8ac1e5 100%);
  border-radius: 40px;
  font-size: 16px;
  padding: 13px;
  display:flex;
  border-right: 0px solid #ffffff;
  color: #fff;
  margin: 10px;
}
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}
span{
	width: 130px;
}

.navbar a:hover {
  color: #ffffff;
}

